// SMOOTH RESET
$main-color: #FF504E;
$light-bg: #FEF0F0;

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// LAYOUT
body {
  background-color: $light-bg;
  display: grid;
  font-family: 'Nunito', sans-serif;
  grid-template-columns: 3rem 1fr 3rem;
  height: 100vh;
  place-items: center;
}

.container {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 20px 60px rgba($color: $main-color, $alpha: .15);
  display: grid;
  grid-template: 50% 50% / auto;
  grid-column: 2 / 3;
  overflow: hidden;
  width: 375px;
  height: 667px;
  section {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    text-align: center;
    padding: 3rem;
  }
  .header {
    background-color: $main-color;
    position: relative;
    h1 {
      color: #fff;
      font-size: 2.4rem;
      font-weight: 400;
      margin-bottom: 3rem;
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        background-color: transparent;
        border: 0;
        color: #fff;
        font-family: inherit;
        font-size: 8.4rem;
        font-weight: 300;
        margin-bottom: 2rem;
        text-align: center;
        width: 100%;
        &:focus {
          outline: none;
          &::placeholder {
            color: transparent;
          }
        }
      }
      label {
        color: rgba(255, 255, 255, .6);
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
  }
  .bottom {
    .wrapper {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 5rem;
      p {
        color: rgba($color: $main-color, $alpha: .6);
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 2rem;
      }
      h2 {
        color: $main-color;
        font-size: 8.4rem;
        font-weight: 300;
      }
    }
  }
}

#convert-btn {
  background-color: #fff;
  border: 5px solid $main-color;
  border-radius: 50%;
  bottom: -40px;
  color: $main-color;
  cursor: pointer;
  font-family: inherit;
  font-size: 4rem;
  font-weight: 700;
  height: 100px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: all .2s ease;
  text-transform: uppercase;
  width: 100px;
  &:hover {
    transform: scale(1.1) translateX(-46%);
  }
}